<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437028462580-jqp53b1nsastijkf2fk6fjeufppca3vm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437028462580-jqp53b1nsastijkf2fk6fjeufppca3vm</string>
	<key>API_KEY</key>
	<string>AIzaSyAosDv5Ax3DsfB7Ul_KQ0fOyXHkx8fnLJo</string>
	<key>GCM_SENDER_ID</key>
	<string>437028462580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reminderApp</string>
	<key>PROJECT_ID</key>
	<string>proyekambw-bc567</string>
	<key>STORAGE_BUCKET</key>
	<string>proyekambw-bc567.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437028462580:ios:ff42eb5ad5b58d13ade3a1</string>
</dict>
</plist>